@property --holo-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #84f4ff;
}

@property --active-tab-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #01dbec54;
}

@property --hover-tab-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #01dbec12;
}

@property --bg-highlight-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #002C40;
}

@property --bg-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #000102;
}

:root {
  font-family: Oxanium, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.container {
  background: radial-gradient(circle, var(--bg-highlight-color) 0%, var(--bg-color) 100%);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
}

.navigation {
  align-content: flex-start;
  color: var(--holo-color);
  display: flex;
  font-weight: 600;
  flex-flow: row wrap;
  justify-content: flex-start;
  text-shadow: 0 0 10px var(--holo-color);
  text-transform: uppercase;
}

.tab {
  background: transparent;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 300ms ease-in-out;
}

.tab:not(.tab-active):hover {
  background: radial-gradient(transparent 0%, var(--hover-tab-color) 100%);
}

.tab-active {
  border-color: var(--holo-color);
  background: radial-gradient(transparent 0%, var(--active-tab-color) 100%);
}

.tab-content {
  display: none;
  flex: 1 1;
  padding: 25px;
}

.tab-content-active {
  display: block;
}

.horizontal-divider {
  background-color: var(--holo-color);
  box-shadow: 0 0 10px 1px var(--holo-color);
  height: 1px;
  margin-top: -1px;
}

@font-face {
  font-family: Oxanium;
  src: url(assets/fonts/oxanium/Oxanium-ExtraLight.woff2);
  font-weight: 200;
}

@font-face {
  font-family: Oxanium;
  src: url(assets/fonts/oxanium/Oxanium-Light.woff2);
  font-weight: 300;
}

@font-face {
  font-family: Oxanium;
  src: url(assets/fonts/oxanium/Oxanium-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: Oxanium;
  src: url(assets/fonts/oxanium/Oxanium-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: Oxanium;
  src: url(assets/fonts/oxanium/Oxanium-SemiBold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: Oxanium;
  src: url(assets/fonts/oxanium/Oxanium-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: Oxanium;
  src: url(assets/fonts/oxanium/Oxanium-ExtraBold.woff2);
  font-weight: 800;
}
