:root {
  --holo-color: #84f4ff;
  --holo-bg-color: #01dbec54;
  --holo-bg: radial-gradient(transparent 0%, var(--holo-bg-color) 100%);
  --holo-bg-color-light: #01dbec12;
  --holo-bg-light: radial-gradient(transparent 0%, var(--holo-bg-color-light) 100%);
  --bg-highlight-color: #002C40;
  --bg-color: #000102;
  --default-transition: all 300ms ease-in-out;
  --holo-glow-shadow: 0 0 10px 1px var(--holo-color);

  font-family: Oxanium, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: radial-gradient(circle, var(--bg-highlight-color) 0%, var(--bg-color) 100%);
  background-color: var(--bg-color);
  color: white;
  margin: 0;
}

p {
  margin: 0;
  max-width: 40em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
}

.navigation {
  align-content: flex-start;
  color: var(--holo-color);
  display: flex;
  font-weight: 600;
  flex-flow: row wrap;
  justify-content: flex-start;
  text-shadow: 0 0 10px var(--holo-color);
  text-transform: uppercase;
}

.tab {
  background: transparent;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  padding: 10px 20px;
  transition: var(--default-transition);
}

.tab:not(.tab-active):hover {
  background: var(--holo-bg-light);
}

.tab-active {
  border-color: var(--holo-color);
  background: var(--holo-bg);
}

.tab-content {
  display: none;
  flex: 1 1;
  padding: 25px;
}

.tab-content-active {
  display: flex;
  flex-direction: column;
}

.horizontal-divider {
  background-color: var(--holo-color);
  box-shadow: var(--holo-glow-shadow);
  height: 1px;
  margin-top: -1px;
}

/* Remove all default styling for lists */
#saved-servers, #saved-servers li {
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#saved-servers {
  flex: 1 1;
  margin-top: 25px;
}

#saved-servers li {
  background: var(--holo-bg);
  border: 1px solid var(--holo-bg-color);
  cursor: pointer;
  padding: 10px 20px;
  transition: var(--default-transition);
}

#saved-servers li:hover {
  border-color: var(--holo-color);
  box-shadow: var(--holo-glow-shadow);
}

@font-face {
  font-family: Oxanium;
  src: url(assets/fonts/oxanium/Oxanium-ExtraLight.woff2);
  font-weight: 200;
}

@font-face {
  font-family: Oxanium;
  src: url(assets/fonts/oxanium/Oxanium-Light.woff2);
  font-weight: 300;
}

@font-face {
  font-family: Oxanium;
  src: url(assets/fonts/oxanium/Oxanium-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: Oxanium;
  src: url(assets/fonts/oxanium/Oxanium-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: Oxanium;
  src: url(assets/fonts/oxanium/Oxanium-SemiBold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: Oxanium;
  src: url(assets/fonts/oxanium/Oxanium-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: Oxanium;
  src: url(assets/fonts/oxanium/Oxanium-ExtraBold.woff2);
  font-weight: 800;
}
